/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require purecss
 *= require selectize
 *= require selectize.default
 *= require pikaday
 */

/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

body {
  color: #777;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

// Add transition to containers so they can push in and out.
#layout, #menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

// This is the parent `<div>` that contains the menu and the content area.
#layout {
  position: relative;
  padding-left: 0;
  &.active {
    position: relative;
    left: 75px;
    #menu {
      left: 75px;
      width: 75px;
    }
    .menu-link {
      left: 75px;
    }
  }
}

// The content `<div>` is where all your content goes.
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

// The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
// appears on the left side of the page.
#menu {
  margin-left: -75px; // "#menu" width
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; // so the menu or its navicon stays above all content
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  // All anchors inside the menu should be styled like this.
  a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
  }

  // Remove all background/borders, since we are applying them to #menu.
  .pure-menu, .pure-menu ul {
    border: none;
    background: transparent;
  }
  // Add that light border to separate items into groups.
  .pure-menu ul, .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
  }
  // Change color of the anchor links on hover/focus.
  .pure-menu li a {
    &:hover, &:focus {
      background: #333;
    }
  }

  // This styles the selected menu item `<li>`.
  .pure-menu-selected {
    background: #1f8dd6;
    // This styles a link within a selected menu item `<li>`.
    a {
      color: #fff;
    }
  }

  // This styles the menu heading.
  .pure-menu-heading {
    font-size: 125%;
    color: #fff;
    margin: 0;
  }
}


// -- Dynamic Button For Responsive Menu -------------------------------------

// The button to open/close the Menu is custom-made and not part of Pure. Here's
//how it works:

// `.menu-link` represents the responsive menu toggle that shows/hides on
// small screens.
.menu-link {
  position: fixed;
  display: block; // show this only on small screens
  top: 0;
  left: 0; // "#menu width"
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 10px; // change this value to increase/decrease button size
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  &:hover, &:focus {
    background: #000;
  }
  span {
    position: relative;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 0.2em;
    &:before, &:after {
      background-color: #fff;
      width: 100%;
      height: 0.2em;
    }
    &:before {
      position: absolute;
      margin-top: -0.6em;
      content: " ";
    }
    &:after {
      position: absolute;
      margin-top: -0.6em;
      content: " ";
      margin-top: 0.6em;
    }
  }
}

// -- Responsive Styles (Media Queries) -------------------------------------

// Hides the menu at `48em`, but modify this based on your app's needs.
@media (min-width: 48em) {
  .header, .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #layout {
    padding-left: 75px; // left col width "#menu"
    left: 0;
  }
  #menu {
    left: 75px;
  }

  .menu-link {
    position: fixed;
    left: 75px;
    display: none;
  }

  #layout.active .menu-link {
    left: 75px;
  }
}

.content form.pure-form.pure-form-aligned {
  padding-left: 160px;
}

.selectize-control {
  display: inline-block;
  vertical-align: middle;
  min-width: 230px;
  margin: 0;
}


.offset {
  margin-left: 300px;
  margin-right: 225px;
}
// Alerts

.pure-alert {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  background: #ccc;
  border-radius: 3px;
  label {
    display: inline-block;
    *display: inline;
    // IE7 inline-block hack
    *zoom: 1;
    white-space: nowrap;
  }
  background-color: rgb(209, 235, 238);
  color: rgb(102, 131, 145);
}

.pure-alert-error {
  background-color: #D13C38;
  color: #fff;
}

.pure-alert-warning {
  background-color: rgb(250, 191, 103);
  color: rgb(151, 96, 13);
}

.pure-alert-success {
  background-color: rgb(83, 180, 79);
  color: #fff;
}
