.spectra-logo {
  margin: auto;
  width: 140px;
  height: 140px;
  text-align: center;
  font-size: 10px;
  position: relative;
}

.spectra-logo .rect1,
.spectra-logo .rect2,
.spectra-logo .rect3,
.spectra-logo .rect4,
.spectra-logo .rect5,
.spectra-logo .rect6 {
    background-color: #333;
    margin-left: -2px;
    display: inline-block;
    width: 16.7%;
    bottom: 0px;
    position: absolute;
    
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 3.6s;
    -webkit-animation-name: height-full-change;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.9);
    animation-direction: alternate;
    animation-duration: 3.6s;
    animation-name: height-full-change;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.9);
    z-index: -100;
}
    
.spectra-logo .rect1 {
    background-color: #e2534a;
    left: 0%;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}
.spectra-logo .rect2 {
    background-color: #f77f00;
    left: 16.666%;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}
.spectra-logo .rect3 {
    background-color: #fad508;
    left: 33.333%;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}
.spectra-logo .rect4 {
    background-color: #50bb58;
    left: 50%;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}
.spectra-logo .rect5 {
    background-color: #008dd5;
    left: 66.666%;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}   
.spectra-logo .rect6 {
    background-color: #8455a7;
    left: 83.333%;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
    
@-webkit-keyframes height-full-change {
    0% { top: 10%; }
    8% { top: 70%; }
    16.6% { top: 40%; }
    22% { top: 90%; }
    33.3% { top: 20%; }
    45% { top: 80%; }
    50% { top: 0%; }
    58% { top: 60%; }
    66.6% { top: 30%; }
    75% { top: 95%; }
    83.3% { top: 60%; }
    92% { top: 80%; }
    100% { top: 35%; }
}
@keyframes height-full-change {
    0% { top: 10%; }
    8% { top: 70%; }
    16.6% { top: 40%; }
    22% { top: 90%; }
    33.3% { top: 20%; }
    45% { top: 80%; }
    50% { top: 0%; }
    58% { top: 60%; }
    66.6% { top: 30%; }
    75% { top: 95%; }
    83.3% { top: 60%; }
    92% { top: 80%; }
    100% { top: 35%; }
}