!!!
%html
  %head
    %title Spectra
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #layout
      / Menu toggle
      %a#menuLink.menu-link{href: "#menu"}
        / Hamburger icon
        %span
      #menu
        .pure-menu.pure-menu-open
          %a.pure-menu-heading{href: "/"} Spectra
          %ul
            %li
              %a{href: "albums"} Albums
            %li
              %a{href: "artists"} Artists
            %li
              %a{href: "tracks"} Tracks
            %li
              %a{href: 'import'} Import

      #main
        = yield
